/* INICIALIZAR VALORES */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #000;
}
p {
    font-size: 13px;
}

/* HEADER */
header{
    border-bottom: 2px solid #e4e4e4;
}
.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}
    /* buscador */
.buscador{
    order: -1;
}
.boton_buscar{
    border-radius: 20px;
}
.lupa{
    width: 15px;
    height: auto;
}
.btn_lupa{
    width: 25px;
    height: 25px;
    border: 1px solid white;
    background-image: url(../imgs/lupa.png);
}
    /* login y register */
.log_reg{
    order: 2;
}
.list_lr{
    display: flex;
}
.lr{
    margin-left: 15px;
}
    /* logo */
.contenedor_logo{
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.logo{
    height: 100px;
    width: 100%;
}