/* INICIALIZAR VALORES */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #000;
}
p {
    font-size: 13px;
}
footer {
    list-style: none;
    position: fixed;
}

/* HOME */
body {
    background-color: rgb(253 253 252);
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
}

main {
    display: flex;
}

header {
    background-color: white;
    border-bottom: 2px solid #e4e4e4;
}

.encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}

.contenedor_logo {
    display: flex;
    align-items: center;
    padding: 0 20px;
    text-align: center;
}

.logo {
    display: inline-block;
    height: 100px;
    width: auto;
}

.buscador {
    order: -1;
    display: flex;
    align-items: center;
}

.log_reg {
    order: 2;
}

.lr {
    margin-left: 15px;
}
.list_lr{
    display: flex;
}

.btn_lupa {
    width: 25px;
    height: 25px;
    border: 1px solid rgb(255, 255, 255);
    background-image: url(../imgs/lupa.png);
}
.boton_buscar{
    border-radius: 20px;
}
.lupa {
    width: 15px;
    height: auto;
}

/* boton de ver detalle */
.detalle {
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 30px;
    border: 1px solid rgb(245 206 206);
    border-radius: 10px;
    background-color: #fff9fa;
}

.titulo_categorias {
    margin: 73px 0px 0px 23px;
}

/* BARRA NAV VERTICAL */
.contenedor_nav{
    height: 100%;
    /* no habia otra forma de que la barra de navegacion llegue hasta el fondo, asi que Luca nos dijo que usemos % */
}

.navegacion {
    display: block;
    width: 300px;
    height: 100%;
    /* no habia otra forma de que la barra de navegacion llegue hasta el fondo, asi que Luca nos dijo que usemos % */
    margin-top: 20px;
    margin-left: 15px;
    padding: 8px;
    background-color: rgb(245, 206, 206);
    border: 1px solid #ffffff;
    border-radius: 12px;
}

.category {
    margin-bottom: 21px;
    padding: 8px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: #fff9fa;
}

/* best sellers y other */
.contenedor_main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.seccion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px auto 15px auto;
    justify-content: center;
}

.producto {
    width: 230px;
    margin: 15px;
}

.producto img {
    border: 2px #d3d3d3 solid;
    display: block;
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.producto h3 {
    margin: 15px 0 8px 5px;
}

.producto p {
    margin: 0 0 13px 5px;
}

.producto a {
    margin-left: 5px;
}

.titulo {
    text-align: left;
    margin: 0px 74px;    
    font-size: 25px;
}


/* LOGIN */
.login {
    display: flex;
    height: 100vh;
}

.login_info {
    display: flex;
    flex-direction: column;
    background-color: rgb(253 253 252);
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.form_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* mail y contra */
.ingresar_mail {
    margin: 10px;
    align-self: flex-end;
}

.mail {
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px rgba(51, 50, 50, 0.535) solid;
}

.ingresar_contra {
    margin: 10px;
    align-self: flex-end;
}

.contra {
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px rgba(51, 50, 50, 0.535) solid;
}

/* boton */
.boton {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.bot_submit {
    margin: 10px;
    border-radius: 10px;
    padding: 6px 15px;
    background-color: rgb(245, 206, 206);
    border: none;
    width: 100%;
}

/* img */
.img_log {
    display: block;
    width: 100%;
    height: 100%;
}

/* REGISTER */
.register-main {
    display: flex;
    height: 100vh;

}

.contenedor-form {
    display: flex;
    flex-direction: column;
    background-color: rgb(253 253 252);
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.form-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* repetir contra (para mail, contra y la imagen se usaron las mismas clases que la seccion de login)*/
.repetir_contra {
    margin: 10px;
}

.repetir {
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px rgba(51, 50, 50, 0.535) solid;

}

/*CATEGORY*/

.category_container {
    width: 90vw;
    margin: 0 auto;
}

.titulo_skincare {
    display: block;
    margin: 40px 0px;
}

.productos_skincare {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;

}

.detalle_producto {
    padding: 12px;
    margin-bottom: 15px;
    border: 2px #d3d3d3 solid;
    display: block;
    width: 30%;
    border-radius: 10px;

}

/*imagenes category*/
.imgs_category {
    max-width: 100%;
    display: block;

}

/* PRODUCT */

.titulo_prod {
    width: 100vw;
    text-align: center;
    padding-top: 10px;

}

.main_produ {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
}

.descripcion_prod {
    text-align: center;
    margin-bottom: 10px;

}

.datos_prod {
    width: 100%;
    margin: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;

}

.imagen_prod{
    width: 40vw;
    padding: 15px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.review{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo_review{
    display: flex;
    justify-content: space-around;
}

