/* INICIALIZAR VALORES */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #000;
}
p {
    font-size: 13px;
}
body {
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
}

/* HEADER */
header{
    border-bottom: 2px solid #e4e4e4;
}
.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}
    /* buscador */
.buscador{
    order: -1;
}
.boton_buscar{
    border-radius: 20px;
}
.lupa{
    width: 15px;
}
.btn_lupa{
    width: 25px;
    height: 25px;
    border: 1px solid white;
    background-image: url('../imgs/lupa.png');
}

/* logout.js*/
.bienvenido{
    display: none;
}
#logout{
    display: none;
}

    /* login y register */
.log_reg{
    order: 2;
}
.list_lr{
    display: flex;
}
.lr{
    margin-left: 15px;
}
    /* logo */
.contenedor_logo{
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.logo{
    height: 100px;
    width: 100%;
}
/* BARRA NAVEGACIÓN VERTICAL */
.barra_nav{
    width: 350px;
    margin: 70px 0 20px 20px;
    padding: 8px;
    background-color: rgb(245,206,206);
    border: 1px solid #ffffff;
    border-radius: 12px;
}
.category {
    margin-bottom: 21px;
    padding: 8px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: #fff9fa;
}
.titulo_categorias {
    margin: 20px 0px 20px 8px;
}

/* FOOTER */
.nav_footer{
    display: flex;
    height: 80px;
    border-top: 2px solid #e4e4e4;
    justify-content: center;
    align-items: center;
}
.item_footer{
    font-size: 17px;
    margin: 10px;
}

/* HOME */
main{
    display: flex;
}
.contenedor_main {
    margin-top: 50px;
}
.seccion {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.titulo {
    text-align: center;
    margin: 25px;   
    font-size: 25px;
    text-transform: uppercase;
}
.producto {
    width: 230px;
    margin: 25px;
}
.producto img {
    width: 100%;
    border: 2px #d3d3d3 solid;
    border-radius: 10px;
}
.producto h3 {
    margin: 15px 0 8px 5px;
}
.producto p {
    margin: 0 0 13px 5px;
}
.producto a {
    margin-left: 5px;
}
/* boton de ver detalle */
.detalle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 30px;
    border: 1px solid rgb(245 206 206);
    border-radius: 10px;
    background-color: #fff9fa;
}
/* LOGIN Y REGISTER */
.login_register {
    display: flex;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}
.contenedor_form {
    display: flex;
    flex-direction: column;
    background-color: rgb(253 253 252);
    justify-content: center;
    align-items: center;
    width: 600px;
}
.form{
    display: flex;
    flex-direction: column;
}
h2{
    margin-bottom: 15px;
}
/* ingresar mail y contra */
.contenedor_input{
    margin: 10px;
    align-self: flex-end;
}
.input_mail_contra {
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px rgba(51, 50, 50, 0.535) solid;
}
/* boton */
.contenedor_boton{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.bot_submit {
    margin: 10px;
    border-radius: 10px;
    padding: 6px 15px;
    background-color: rgb(245, 206, 206);
    border: none;
    width: 100%;
}

/* imagen */
.img_login {
    display: block;
    width: 40%;
    height: auto;
    border-radius: 50px;
}
/* aceptar terminos */
.terminos-form{
    align-self: center;
}


/*CATEGORY*/

/* en home es producto img?*/
.imgs_category{
    width: 100%;
    height: 250px;
    border: 2px #d3d3d3 solid;
    border-radius: 10px;
}



/*PRODUCT*/
.contenedor_info_y_review{
    display: flex;
    flex-direction: column;
    width: 1200px;
    align-items: center;
}

.titulo_prod{
    text-align: center;
    margin: 25px;   
    font-size: 25px;
}

.info_producto{
    margin: 40px 0 20px 0;
    display: flex;
    align-self: center;
    
}
.datos_prod{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    margin-left: 30px;
}

.datos_prod p{
    margin-bottom: 10px;}

.tag{
    border: 2px rgb(245, 206, 206) solid;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    text-align: center;

}

.info_producto{
    text-align: center;

}

.imagen_prod{
   
   height: 500px;
   width: 500px;
   border: 2px #d3d3d3 solid;
   border-radius: 10px;
   margin-bottom: 30px;
   margin-left: auto;
   margin-right: auto;
   display: flex;

}
.padre_review{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    width: 800px;
}

.review{
    margin: 15px;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
}
   

/* MEDIA QUERIS */ /* Telefono */
@media(max-width: 490px){
   /* encabezado */
    header{
        width: 1150px;
    }
    .encabezado{
        width: 1150px;
    }
    .list_lr{
        flex-direction: column;
        align-self: flex-end;
    }

    /* productos */
    .seccion{
        flex-direction: column;
        width: 900px;
    }
    .producto{
        width: 100%;
    }
    .producto img{
        width: 60%;
        height: 500px;
    }

    /* barra nav */
    main{
        display: block;
    }
    .barra_nav{
        width: 1180px;
        display: flex;
        flex-direction: row;
    }
    .category{
        width: 1160px;
        text-align: center;
        font-size: 30px;
    }
    .titulo_categorias{
        font-size: 35px;
    }
    
    /* tipografia */
    p{
        font-size: 25px;
        width: 510px;
    }
    h3{
        font-size: 30px;
    }
    .detalle{
        width: 240px;
        height: 50px;
    }
    a{
        font-size: 23px;
    }

    /* login y register */
    .login_register{
        width: 1100px;
        height: 500px;
        align-items: center;
    }
    .contenedor_form{
        height: 100px;
    }
    .img_login{
        width: 0px;
    }
    footer{
        width: 1200px;
    }
}
